<html>
  <head>
    <link rel="stylesheet" href="/.rtag/styles.css" />
    <link rel="stylesheet" href="/.rtag/node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css" />
    <link rel="stylesheet" href="/.rtag/node_modules/vue-select/dist/vue-select.css" />
  </head>

  <body>
    <div id="app">
      <router-view></router-view>
    </div>
    <script type="text/x-template" id="home-template">
      <div>
        <button type="button" class="button" @click="createState">
          <span class="button-text">Create new</span>
        </button>
        <div>Or</div>
        <form class="form-group" @submit.prevent="joinState">
          <div class="input-group">
            <input class="input" v-model="stateId" type="text" />
          </div>
          <button type="submit" class="button submit">
            <span class="button-text">Join existing</span>
          </button>
        </form>
      </div>
    </script>
    <script type="text/x-template" id="state-template">
      <div class="container">
        <div class="forms-container">
          <method-form method="joinGame" v-slot="{ arg, value, showErrors }">
            <object-input :arg="arg" :value="value" :required="true" v-slot="{ value }">
            </object-input>
          </method-form>
          <method-form method="startGame" v-slot="{ arg, value, showErrors }">
            <object-input :arg="arg" :value="value" :required="true" v-slot="{ value }">
              <label class="label">pieces*</label>
              <array-input arg="pieces" :value="value.pieces" :required="true" :showErrors="showErrors" v-slot="{ arg, value }">
                <object-input :arg="arg" :value="value" :required="true" v-slot="{ value }">
                  <label class="label">id*</label>
                  <number-input arg="id" :value="value.id" :required="true" :showErrors="showErrors"></number-input>
                  <label class="label">color*</label>
                  <enum-input arg="color" :value="value.color" :required="true" :showErrors="showErrors" enum="Color"></enum-input>
                  <label class="label">type*</label>
                  <enum-input arg="type" :value="value.type" :required="true" :showErrors="showErrors" enum="PieceType"></enum-input>
                  <label class="label">position</label>
                  <object-input arg="position" :value="value.position" :required="false" v-slot="{ value }">
                    <label class="label">x*</label>
                    <number-input arg="x" :value="value.x" :required="true" :showErrors="showErrors"></number-input>
                    <label class="label">y*</label>
                    <number-input arg="y" :value="value.y" :required="true" :showErrors="showErrors"></number-input>
                  </object-input>
                  <label class="label">stack</label>
                  <number-input arg="stack" :value="value.stack" :required="false" :showErrors="showErrors"></number-input>
                </object-input>
              </array-input>
              <label class="label">color</label>
              <enum-input arg="color" :value="value.color" :required="false" :showErrors="showErrors" enum="Color"></enum-input>
            </object-input>
          </method-form>
          <method-form method="selectPiece" v-slot="{ arg, value, showErrors }">
            <object-input :arg="arg" :value="value" :required="true" v-slot="{ value }">
              <label class="label">piece*</label>
              <object-input arg="piece" :value="value.piece" :required="true" v-slot="{ value }">
                <label class="label">id*</label>
                <number-input arg="id" :value="value.id" :required="true" :showErrors="showErrors"></number-input>
                <label class="label">color*</label>
                <enum-input arg="color" :value="value.color" :required="true" :showErrors="showErrors" enum="Color"></enum-input>
                <label class="label">type*</label>
                <enum-input arg="type" :value="value.type" :required="true" :showErrors="showErrors" enum="PieceType"></enum-input>
                <label class="label">position</label>
                <object-input arg="position" :value="value.position" :required="false" v-slot="{ value }">
                  <label class="label">x*</label>
                  <number-input arg="x" :value="value.x" :required="true" :showErrors="showErrors"></number-input>
                  <label class="label">y*</label>
                  <number-input arg="y" :value="value.y" :required="true" :showErrors="showErrors"></number-input>
                </object-input>
                <label class="label">stack</label>
                <number-input arg="stack" :value="value.stack" :required="false" :showErrors="showErrors"></number-input>
              </object-input>
            </object-input>
          </method-form>
          <method-form method="movePiece" v-slot="{ arg, value, showErrors }">
            <object-input :arg="arg" :value="value" :required="true" v-slot="{ value }">
              <label class="label">piece*</label>
              <object-input arg="piece" :value="value.piece" :required="true" v-slot="{ value }">
                <label class="label">id*</label>
                <number-input arg="id" :value="value.id" :required="true" :showErrors="showErrors"></number-input>
                <label class="label">color*</label>
                <enum-input arg="color" :value="value.color" :required="true" :showErrors="showErrors" enum="Color"></enum-input>
                <label class="label">type*</label>
                <enum-input arg="type" :value="value.type" :required="true" :showErrors="showErrors" enum="PieceType"></enum-input>
                <label class="label">position</label>
                <object-input arg="position" :value="value.position" :required="false" v-slot="{ value }">
                  <label class="label">x*</label>
                  <number-input arg="x" :value="value.x" :required="true" :showErrors="showErrors"></number-input>
                  <label class="label">y*</label>
                  <number-input arg="y" :value="value.y" :required="true" :showErrors="showErrors"></number-input>
                </object-input>
                <label class="label">stack</label>
                <number-input arg="stack" :value="value.stack" :required="false" :showErrors="showErrors"></number-input>
              </object-input>
              <label class="label">position*</label>
              <object-input arg="position" :value="value.position" :required="true" v-slot="{ value }">
                <label class="label">x*</label>
                <number-input arg="x" :value="value.x" :required="true" :showErrors="showErrors"></number-input>
                <label class="label">y*</label>
                <number-input arg="y" :value="value.y" :required="true" :showErrors="showErrors"></number-input>
              </object-input>
            </object-input>
          </method-form>
        </div>
        <div v-if="Object.keys(value).length > 0" class="json-state">
          {
          <object-display class="object-display" :value="value" v-slot="{ value }">
            <div class="kv-display">
              <key-display value="creator" type-string="PlayerName"></key-display>
              <string-display class="string-display" :value="value.creator"></string-display>,
            </div>
            <div class="kv-display">
              <key-display value="color" type-string="Color"></key-display>
              <enum-display class="enum-display" :value="value.color" enum="Color"></enum-display>,
            </div>
            <div class="kv-display">
              <key-display value="selectedPiece" type-string="Piece?"></key-display>
              {
              <object-display class="object-display" :value="value.selectedPiece" v-slot="{ value }">
                <div class="kv-display">
                  <key-display value="id" type-string="PieceId"></key-display>
                  <number-display class="number-display" :value="value.id"></number-display>,
                </div>
                <div class="kv-display">
                  <key-display value="color" type-string="Color"></key-display>
                  <enum-display class="enum-display" :value="value.color" enum="Color"></enum-display>,
                </div>
                <div class="kv-display">
                  <key-display value="type" type-string="PieceType"></key-display>
                  <enum-display class="enum-display" :value="value.type" enum="PieceType"></enum-display>,
                </div>
                <div class="kv-display">
                  <key-display value="position" type-string="BoardPosition?"></key-display>
                  {
                  <object-display class="object-display" :value="value.position" v-slot="{ value }">
                    <div class="kv-display">
                      <key-display value="x" type-string="number"></key-display>
                      <number-display class="number-display" :value="value.x"></number-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="y" type-string="number"></key-display>
                      <number-display class="number-display" :value="value.y"></number-display>,
                    </div>
                  </object-display>
                  },
                </div>
                <div class="kv-display">
                  <key-display value="stack" type-string="number?"></key-display>
                  <number-display class="number-display" :value="value.stack"></number-display>,
                </div>
              </object-display>
              },
            </div>
            <div class="kv-display">
              <key-display value="validMoves" type-string="BoardPosition[]?"></key-display>
              [
              <array-display class="array-display" :value="value.validMoves" v-slot="{ value }">
                  {
                  <object-display class="object-display" :value="value" v-slot="{ value }">
                    <div class="kv-display">
                      <key-display value="x" type-string="number"></key-display>
                      <number-display class="number-display" :value="value.x"></number-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="y" type-string="number"></key-display>
                      <number-display class="number-display" :value="value.y"></number-display>,
                    </div>
                  </object-display>
                  },
              </array-display>
              ],
            </div>
            <div class="kv-display">
              <key-display value="unplayedPieces" type-string="Piece[]"></key-display>
              [
              <array-display class="array-display" :value="value.unplayedPieces" v-slot="{ value }">
                  {
                  <object-display class="object-display" :value="value" v-slot="{ value }">
                    <div class="kv-display">
                      <key-display value="id" type-string="PieceId"></key-display>
                      <number-display class="number-display" :value="value.id"></number-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="color" type-string="Color"></key-display>
                      <enum-display class="enum-display" :value="value.color" enum="Color"></enum-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="type" type-string="PieceType"></key-display>
                      <enum-display class="enum-display" :value="value.type" enum="PieceType"></enum-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="position" type-string="BoardPosition?"></key-display>
                      {
                      <object-display class="object-display" :value="value.position" v-slot="{ value }">
                        <div class="kv-display">
                          <key-display value="x" type-string="number"></key-display>
                          <number-display class="number-display" :value="value.x"></number-display>,
                        </div>
                        <div class="kv-display">
                          <key-display value="y" type-string="number"></key-display>
                          <number-display class="number-display" :value="value.y"></number-display>,
                        </div>
                      </object-display>
                      },
                    </div>
                    <div class="kv-display">
                      <key-display value="stack" type-string="number?"></key-display>
                      <number-display class="number-display" :value="value.stack"></number-display>,
                    </div>
                  </object-display>
                  },
              </array-display>
              ],
            </div>
            <div class="kv-display">
              <key-display value="boardPieces" type-string="Piece[]"></key-display>
              [
              <array-display class="array-display" :value="value.boardPieces" v-slot="{ value }">
                  {
                  <object-display class="object-display" :value="value" v-slot="{ value }">
                    <div class="kv-display">
                      <key-display value="id" type-string="PieceId"></key-display>
                      <number-display class="number-display" :value="value.id"></number-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="color" type-string="Color"></key-display>
                      <enum-display class="enum-display" :value="value.color" enum="Color"></enum-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="type" type-string="PieceType"></key-display>
                      <enum-display class="enum-display" :value="value.type" enum="PieceType"></enum-display>,
                    </div>
                    <div class="kv-display">
                      <key-display value="position" type-string="BoardPosition?"></key-display>
                      {
                      <object-display class="object-display" :value="value.position" v-slot="{ value }">
                        <div class="kv-display">
                          <key-display value="x" type-string="number"></key-display>
                          <number-display class="number-display" :value="value.x"></number-display>,
                        </div>
                        <div class="kv-display">
                          <key-display value="y" type-string="number"></key-display>
                          <number-display class="number-display" :value="value.y"></number-display>,
                        </div>
                      </object-display>
                      },
                    </div>
                    <div class="kv-display">
                      <key-display value="stack" type-string="number?"></key-display>
                      <number-display class="number-display" :value="value.stack"></number-display>,
                    </div>
                  </object-display>
                  },
              </array-display>
              ],
            </div>
            <div class="kv-display">
              <key-display value="currentPlayerTurn" type-string="Color"></key-display>
              <enum-display class="enum-display" :value="value.currentPlayerTurn" enum="Color"></enum-display>,
            </div>
            <div class="kv-display">
              <key-display value="players" type-string="PlayerName[]"></key-display>
              [
              <array-display class="array-display" :value="value.players" v-slot="{ value }">
                  <string-display class="string-display" :value="value"></string-display>,
              </array-display>
              ],
            </div>
            <div class="kv-display">
              <key-display value="status" type-string="GameStatus"></key-display>
              <enum-display class="enum-display" :value="value.status" enum="GameStatus"></enum-display>,
            </div>
          </object-display>
          },
        </div>
      </div>
    </script>
    <script type="module" src="/@vite/client"></script>
    <script type="module" src="/.rtag/app.ts"></script>
  </body>
</html>
