$primary-color: #119f32;
$secondary-color: #f2ed51;
$player-white-background-color: #dbe1c9;
$player-black-background-color: #4b7c3d;
$player-white-piece-selected-color: #99ddff;
$player-black-piece-selected-color: rgb(0, 0, 0, 0.6);
$background-color: #020a10;
$drawer-color: #0a1d2b;

.HiveApp {
  text-align: center;
  overflow: auto;

  .hive-btn {
    background-color: $primary-color;
    line-height: 1.15;
    margin: 10px 5px;
    border-radius: 8px;
    border: none;
    padding: 16px 36px;
    font-size: 16px;
    font-weight: 400;
    color: $background-color;
    outline: none;
  }

  @media (hover: hover) and (pointer: fine) {
    .hive-btn:hover {
      background-color: $secondary-color;
    }
  }

  @media (min-width: 400px) {
    .hive-input-btn {
      border-radius: 0px 8px 8px 0px;
      margin-left: 0px;
    }
  }

  .hive-input-btn-input {
    line-height: 1.15;
    width: 250px;
    border-color: $primary-color;
    color: $secondary-color;
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
    border-radius: 8px;
    padding: 14px 36px;
    background-color: $background-color;
    outline: none;

    @media (min-width: 400px) {
      border-radius: 8px 0px 0px 8px;
      border-right: none;
    }
  }

  .fourOhFour {
    color: $secondary-color;
    position: relative;
    top: 70%;
  }

  .background {
    height: 100%;
    background-image: url(images/Home-Background.svg);
    background-position: center 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-color: $background-color;
  }
}

.Title {
  .inputs {
    position: relative;
    top: 70%;
  }
}

.Lobby {
  height: 100%;
  padding-top: 30px;
  background-color: $background-color;
  color: $secondary-color;
  h3 {
    color: $secondary-color;
  }
}

.Board {
  .overlay {
    position: absolute;
    top: 0;
    color: $secondary-color;
  }
}

.PieceDrawer {
  /* Style the tab */
  .tabs {
    overflow: hidden;
    color: $secondary-color;
    // border-bottom: 1px solid $primary-color;
    background-color: $drawer-color;
  }

  /* Style the buttons that are used to open the tab content */
  .tabs button {
    background-color: inherit;
    color: $secondary-color;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  @media (hover: hover) and (pointer: fine) {
    .tabs button:hover {
      border-bottom: 1px solid $secondary-color;
    }
  }
  /* Create an active/current tablink class */
  .tabs button.active {
    border-bottom: 1px solid $primary-color;
  }

  .tabs .status {
    float: right;
    padding: 12px 16px;
  }

  /* Style the tab content */
  .pieces {
    background-color: $drawer-color;
    display: flex;
    align-items: center;
    height: calc(100% - 55px);
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 12px;
    -webkit-overflow-scrolling: touch;

    & button {
      height: 75%;
      margin: 0px 5px;
      border: none;
      border-radius: 10px;

      img {
        height: 100%;
      }
    }

    .white-piece-btn {
      background-color: $player-white-background-color;
    }
    .black-piece-btn {
      background-color: $player-black-background-color;
    }
    .white-piece-btn.active {
      background-color: $player-white-piece-selected-color;
    }
    .black-piece-btn.active {
      background-color: $player-black-piece-selected-color;
    }
  }
}

#urlText {
  caret-color: transparent;
}

#urlText::selection {
  color: white;
  background: gray;
}

div.GameSettings {
  display: inline-block;
  text-align: left;
  margin: 15px;
  & select {
    margin: 7px;
  }
  & label input {
    margin: 7px;
  }
}
